---
import MainLayout from '@layouts/MainLayout.astro';
import ShowCounter from "@components/ShowCounter.vue";
import Welcome from "@components/Welcome.vue";
---

<MainLayout>	
	<Welcome client:load transition:animate="slide" />

	<a href="/transition" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-200" id="incrementButton">
		Go to transitions
	</a>
</MainLayout>
